// Colors
$white:  #fff;
$black:  #000;
$blue:   #4f5cb9;
$teal:   #7c96e3;
// Create grayscale
$gray-dark:     #3c4b65 !default;
$gray:          #576070 !default;
$gray-light:    #929dac !default;
$gray-lighter:  #eceeef !default;
$gray-lightest: #f7f7f9 !default;
